.page {
  padding: 40px;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.page h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #01185e;
}

.page h3 {
  font-size: 20px;
  line-height: 1.5;
}

.image {
  height: 240px;
  width: 60%;
}

.imagee {
  height: 200px;
}

.logo a {
    padding: 10px;
}

.logo a img {
    border-radius: 18px;
}

